{# A footer that has all basic information#}
    <div class="container">
        <p class="text-muted text-center">
            <a href="http://localhost/framework/">Open Access</a> <br/>
       Copyright &copy; {{ year }}  &middot; Danh Nguyen &middot; Newcastle University &middot;<br/>
        <a href={{ mailsysadmin }}> Contact Us </a>
        </p>
    </div>