
    <div class="container">
        <p class="text-muted text-center">
            <a href="http://localhost/framework/">Open Access</a> <br/>
            Danh Nguyen &middot; Newcastle University &middot;<br/>
       Copyright &copy; {{ year }} &middot; All Rights Reserved &middot; </p>
    </div>