{% extends 'page.twig' %}

{% block onload %}
    $('#alert').on('click', function(){
        bootbox.alert('Hello World')
    })
{% endblock onload %}

{#{% block header %}#}
    {#<div class="col-md-12">#}
	{#<h1 class="cntr">Header</h1>#}
    {#</div>#}
{#{% endblock header %}#}

{#{% block main %}#}
{#{% endblock main %}#}
