{% extends 'page.twig' %}

{% block header %}
    <h1>Success</h1>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="col-md-8 col-md-offset-2">
            <p>Successful in whatever you have attempted to do.</p>
            <p>Go <a href="{{base}}/">home</a></p>
        </article>
    </section>
{% endblock main %}