{% extends 'home.twig' %}

{% block contentblocks %}
    {% include 'blockcontent.twig' %}
{% endblock contentblocks %}

     {% block pagetitle %}
                <h1 style="padding-bottom: 10px">{{ page_title }}</h1>
     {% endblock pagetitle %}

 {% block pagination %}
        {% if pagination %}
         <div class="text-center">
             {% include 'pagination.twig' %}
         </div>
     {%  endif %}
 {% endblock pagination %}